<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
<div th:replace="fragments/menu :: div"/></div>


<div class="container">
    <div class="row my-5">
        <div class="col-sm-9  mx-auto">


            <h3 class="text-primary text-center">Details</h3>

            <h3> </h3>

            <table class="table col-sm-12" align="center">
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <td th:text="${toDetail.user_id}"></td>
                    </tr>
                    <tr>
                        <th>Fist Name</th>
                        <td th:text="${toDetail.firstName}"></td>
                    </tr>

                    <tr>
                        <th>Last Name</th>
                        <td th:text="${toDetail.lastName}"></td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td th:text="${toDetail.email}"></td>
                    </tr>

                    <tr>
                        <th>Role</th>
                        <td th:text="${toDetail.roles}"></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>



</body>
</html>